src/main/mule/implementations/upload-document-to-aws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

	 <flow name="post:\document:application\json:aws-sapi-config">
		<ee:transform doc:name="Set correlationId" doc:id="1d91ab7a-a3f8-412a-aa03-9ca64c12c269">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default payload.fileName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="ec28e719-42e3-4781-93db-0c593733cfcc" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Started upload document to amazon S3 flow"' />
		<ee:transform doc:name="Decode Base64 String To Document" doc:id="30229184-4246-4dfd-875e-df476d123404">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import fromBase64 from dw::core::Binaries
output application/octet-stream
---
fromBase64(payload.document)]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="bucketName"><![CDATA[%dw 2.0
output application/java
---
payload.bucketName]]></ee:set-variable>
				<ee:set-variable variableName="keyPath"><![CDATA[%dw 2.0
output application/java
---
payload.folderPath as String ++ "/" ++ payload.fileName as String]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:write doc:name="Write" doc:id="614574cf-7c02-4ff3-a964-cd8964965c36" path="#[vars.keyPath]" />
		<ee:transform doc:name="Set Response" doc:id="0a2177da-798d-4248-b240-f071a9a5cba8" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	code: 200,
	message: "Success",
	description: "Document uploaded successfully",
	dateTime: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	transactionId: vars.transactionId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="de1a42e1-2b94-409c-8cfe-268c2e6e3c40" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: "Completed upload document to amazon S3 flow"' />

    </flow>
	
	</mule>
